libonig.js
libonig.O2.js
libonig.O3.js

oniguruma/Makefile
oniguruma/autom4te.cache
oniguruma/config.h
oniguruma/config.log
oniguruma/config.status
oniguruma/libonig.la
oniguruma/libtool
oniguruma/onig-config
oniguruma/sample/.libs/
oniguruma/sample/Makefile
oniguruma/sample/crnl
oniguruma/sample/encode
oniguruma/sample/listcap
oniguruma/sample/names
oniguruma/sample/posix
oniguruma/sample/simple
oniguruma/sample/sql
oniguruma/sample/syntax
oniguruma/stamp-h1
oniguruma/*.libs
oniguruma/*.lo
oniguruam/*.o
